<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.leave.mapper.LeaveMapper">
    <resultMap id="BaseResultMap" type="com.shu.leave.entity.Leave">
        <!--@mbg.generated-->
        <!--@Table [leave]-->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="userid" jdbcType="BIGINT" property="userid" />
        <result column="leave_type" jdbcType="VARCHAR" property="leaveType" />
        <result column="leave_start_time" jdbcType="TIMESTAMP" property="leaveStartTime" />
        <result column="leave_end_time" jdbcType="TIMESTAMP" property="leaveEndTime" />
        <result column="leave_reason" jdbcType="VARCHAR" property="leaveReason" />
        <result column="leave_material" jdbcType="VARCHAR" property="leaveMaterial" />
        <result column="status" jdbcType="CHAR" property="status" />
        <result column="department_status" jdbcType="CHAR" property="departmentStatus" />
        <result column="hr_status" jdbcType="CHAR" property="hrStatus" />
        <result column="school_status" jdbcType="CHAR" property="schoolStatus" />
        <result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>


    <!--查询某个步骤的审核信息-->
    <select id="electSingleLeaveStepOne" resultType="com.shu.leave.vo.SingleLeaveStepVo">
        select a.id,c.dp_officer_id,b.username,c.dp_officer_result,c.dp_officer_recommend,c.dp_officer_time,c.dp_officer_status
        from leave as a,user_info as b,leave_department_audit as c
        where a.id=c.formid and c.dp_officer_id=b.userid and a.id='${id}';
    </select>
    <select id="electSingleLeaveStepTwo" resultType="com.shu.leave.vo.SingleLeaveStepVo">
        select a.id,c.dp_leader_id,b.username,c.dp_leader_result,c.dp_leader_recommend,c.dp_leader_time,c.dp_leader_status
        from leave as a,user_info as b,leave_department_audit as c
        where a.id=c.formid and c.dp_leader_id=b.userid and a.id='${id}';
    </select>
    <select id="electSingleLeaveStepThree" resultType="com.shu.leave.vo.SingleLeaveStepVo">
        select a.id,c.hr_officer_id,b.username,c.hr_officer_result,c.hr_officer_recommend,c.hr_officer_time,c.hr_officer_status
        from leave as a,user_info as b,leave_hr_audit as c
        where a.id=c.formid and c.hr_officer_id=b.userid and a.id='${id}';
    </select>
    <select id="electSingleLeaveStepFour" resultType="com.shu.leave.vo.SingleLeaveStepVo">
        select a.id,c.hr_leader_id,b.username,c.hr_leader_result,c.hr_leader_recommend,c.hr_leader_time,c.hr_leader_status
        from leave as a,user_info as b,leave_hr_audit as c
        where a.id=c.formid and c.hr_leader_id=b.userid and a.id='${id}';
    </select>
    <select id="electSingleLeaveStepFive" resultType="com.shu.leave.vo.SingleLeaveStepVo">
        select a.id,c.sc_leader_id,b.username,c.sc_leader_result,c.sc_leader_recommend,c.sc_leader_time,c.sc_leader_status
        from leave as a,user_info as b,leave_school_audit as c
        where a.id=c.formid and c.sc_leader_id=b.userid and a.id='${id}';
    </select>


</mapper>